.env
.env.example
.idea/
.vscode/
.env.local
node_modules/
.qodo/
dist/
# /tools/
browser-logs/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/bridge-api/.env
/bridge-api/.env.local
/bridge-api/node_modules/
/bridge-api/dist/
/bridge-api/browser-logs/
/bridge-api/coverage/
/bridge-api/npm-debug.log*
/bridge-api/yarn-debug.log*
/bridge-api/pycache/
/bridge-api/__pycache__/
